ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }
  
body{
    background-color: aqua;
}

h1{
  color: aliceblue;
}
p{
  color: black;
  font-size: 29px;
}

.box{
  display: flex;
  width: 300px;
  border: 15px solid cyan;
  padding: 50px;
  margin: 20px;
  text-shadow: rgb(4, 0, 255);
}

img{
  border: 5px solid black;
  float:right;
}