body{
    background-color: blue;
  }
  h1 {
     border-style: dotted;
  font-family: fantasy;
  }
  P {
    font-size: 20;
  }
  li {
  font-size: 20;
  }
  .box{
    display: flex;
    width: 1000px;
    border: 15px solid cyan;
    padding: 50px;
    margin: 20px;
  }
  .box2{
    display: flex;
    width: 100px;
    border: 15px solid cyan;
    padding: 60px;
    margin: 20px;
  }
  .background{
        background-color: darkgreen;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  li {
    float: left;
  }
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }